numpy
tqdm
pytorch_lightning
einops
kornia
numpy
omegaconf
transformers
requests
k-diffusion @ git+https://github.com/crowsonkb/k-diffusion.git
xformers @ git+https://github.com/facebookresearch/xformers@51dd119#egg=xformers
